    <!-- Modal -->
    <div id="EditPrecision" class="modal fade" role="dialog">
        <div class="modal-dialog">
            
            <!-- Modal content-->
            <div class="modal-content">
                <!--Modal Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <!---------------->

                <!-- Modal Body -->
                <div class="modal-body">
                    <h4 class="modal-title"> Precision : </h4>

                    <div class="form-group">
                        <input type="hidden" class="form-control" id="precision_id_edit">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Label :</label>
                        <input type="text" class="form-control" id="precision_label_edit" >
                    </div>
                    <div class="form-group">
                        <label class="form-label">Code :</label>
                        <input type="text" class="form-control" id="precision_code_edit" >
                    </div>

                    <button type="button" class="btn btn-primary btn-block btn-edit" id="precision">Save</button>

                </div>
                <!---------------->

            </div>
            <!---------------->
            
        </div>
    </div>