<!doctype html>
<html lang="en" dir="ltr">
    @{
        <partial name="_Head" ></partial>
        <partial name="__Scripts" ></partial>
    }
    <body class="">
        <div class="page">
            <div class="flex-fill">
                @{
                    <partial name="_Topbar" ></partial>
                    <partial name="_Navbar" ></partial>
                }
               
                <div class="my-3 my-md-5">
                    <div class="container">
                        <div class="page-header">
                            <h1 class="page-title">
                                @ViewData["PageTitle"]
                            </h1>
                        </div>
                        <!--------------------------------- Messages ------------------------------>
                        <div id="success_alert" class="alert alert-success" data-alert="alert"></div>
                        <div id="warning_alert" class="alert alert-warning" data-alert="alert"></div>
                        <div id="danger_alert" class="alert alert-danger" data-alert="alert"></div>
                        <!-------------------------------------------------------------------------->
                        @RenderBody()
                    </div>
                </div>
            </div>
            @{
                <partial name="_Footer" ></partial>
            }
        </div>
    </body>
</html>