<div class="dropdown">
    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
        <span class="avatar"></span>
        <span class="ml-2 d-none d-lg-block">
            <span class="text-default"> @ViewBag.UserName </span>
        </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
        @if ( ViewData["acces_admin"].ToString() == "True") {
            <a class="dropdown-item" href="../Admin"><i class="dropdown-icon fe fe-settings"></i> Admin </a>
        }
        @if ( ViewData["director"].ToString() == "True") {
            <a class="dropdown-item" href="../Notifications"><i class="dropdown-icon fe fe-mail"></i> Notifications </a>
        }
        @if ( ViewData["acces_admin"].ToString() == "False" ){
            <a class="dropdown-item" href="../Profile"><i class="dropdown-icon fe fe-user"></i> Profile </a>
        }
        <div class="dropdown-divider"></div>

        <div>
            <a class="dropdown-item logout" href="" ><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
        </div>
    </div>
</div>