        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="../">
                        <img src="~/demo/brand/tabler2.png" class="header-brand-img" alt="tabler logo">
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        @{
                            @* <partial name="_Notifications"></partial> *@
                            <partial name="_Profiledrop"></partial>
                        }
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>