@{
    ViewData["Title"] = "Students";
}

<div class="row">
    <div class="col-lg-4">
        @{
            <partial name="_ProfileCardField"></partial>
        }
    </div>
    @{
        <partial name="_TableFieldDetails"></partial>
    }
</div>
