
<div class="col-lg-8">
    <div class="card" >
        <div class="row">
            <div class="col">
                <button class="btn btn-primary btn-block add-absence" data-toggle="modal" data-target="#myModal" > Ajouter Absence</button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block add-delay" data-toggle="modal" data-target="#myModalDelay" > Ajouter Retard</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary btn-block add-absence" id="hour" data-toggle="modal" data-target="#myModalHour"> 
                    Ajouter Absence Par heure
                </button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block add-delay" id="hour" data-toggle="modal" data-target="#myModalDelayHour" > 
                    Ajouter Retard par heure
                </button>
            </div>
        </div>
    </div>
    <div class="card">
        <table class="table card-table table-vcenter" id="tableFull" >
            <tr>
                <th>#</th>
                <th class="d-none d-md-table-cell">Full Name</th>
                <th class="d-none d-md-table-cell">Gender</th>
                <th class="d-none d-md-table-cell">Nationality</th>
                <th class="d-none d-md-table-cell">Is training</th>
                <th class="d-none d-md-table-cell"></th>
            </tr>
        </table>
    </div>
</div>