@{
	ViewData["Title"] = "Formation";
}

@{
    <partial name="__LoadSessions"></partial>
    <partial name="__Script"></partial>
}

<center>
<div class="col-sm-12 col-12 col-lg-6" >
	<div class="form-label">Module Affectation :</div>
	<select class="custom-select form-control modules_affectations" ></select>
</div>
</center>



<div class="card">
    <table class="table card-table table-vcenter">
    </table>
</div>
