@{
    ViewData["Title"] = "Notifications";
}
@{
    <partial name="__LoadNotifs" ></partial>
    <partial name="__LoadModal" ></partial>
    <partial name="__MakeChange" ></partial>
    <partial name="_Modal" ></partial>
}
    <div class="card">
        <table class="table card-table table-vcenter">
        </table>
    </div>
