<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label">Formation :</div>
                <select class="custom-select form-control" id="formations_select" ></select>
            </div>
            <div class="form-group">
                <div class="form-label">Niveau :</div>
                <select class="custom-select form-control" id="grades_select" ></select>
            </div>
            <div class="form-group">
                <div class="form-label">Groupe :</div>
                <select class="custom-select form-control" id="groups_select" ></select>
            </div>
            <div>
                <button 
                class="btn btn-primary" id="submit_selects"  >
                    Submit
                </button>   
            </div>
        </div>
    </div>
</div>
