<div class="col-lg-8">
    <div class="card">
        <table class="table card-table table-vcenter" id="tableFull" >
            <tr>
                <th>#</th>
                <th class="d-none d-md-table-cell">Full Name</th>
                <th class="d-none d-md-table-cell">Gender</th>
                <th class="d-none d-md-table-cell">Nationality</th>
                <th class="d-none d-md-table-cell">Is training</th>
                <th class="d-none d-md-table-cell"></th>
            </tr>
            
        </table>
    </div>
</div>