<div class="card card-profile">
    <div class="card-header">
        <h3 class="card-title">Chart title</h3>
    </div>
    <div class="card-body">
        <div id="chart-pie" style="height: 12rem;"></div>
    </div>
</div>
