<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Ajouter Groupe" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Ajouter Seance :
                </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> 
            </div>
            <!-- model body -->
            <div class="modal-body">
                 <div class="card">
                    <center><label class="form-label validator" style="color:red; font-size:17px;" ></label></center>
                 </div>
                <div class="card">
                    <div class="row" style="margin-right:8px; margin-left:8px;" >
                        <div class="col-sm form-group">
                            <label class="form-label">Module :</label>
                            <select name="beast" id="select_module" class="form-control custom-select"></select>
                        </div>
                         <div class="col-sm form-group">
                            <label class="form-label">Groupe :</label>
                            <select name="beast" id="select_group" class="form-control custom-select"></select>
                        </div>
                         <div class="col-sm form-group">
                            <label class="form-label">Patition Jour :</label>
                            <select name="beast" id="select_timepart" class="form-control custom-select">
                                <option value="1" >S1</option><option value="2" >S2</option><option value="3" >S3</option><option value="4" >S4</option><option value="5" >S5</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-right:8px; margin-left:8px;" >
                        <div class="col-sm form-group">
                            <label class="form-label">Jour :</label>
                            <select name="beast" id="select_day_session" class="form-control custom-select"></select>
                        </div>
                        <div class="col-sm form-group">
                            <label class="form-label">De :</label>
                            <select name="beast" id="select_from_session" class="form-control custom-select">
                                <option value="8.5"  >08:30</option><option value="9.0"  >09:00</option><option value="9.5"  >09:30</option><option value="10.0" >10:00</option><option value="10.5" >10:30</option><option value="11.0" >11:00</option><option value="11.5" >11:30</option><option value="12.0" >12:00</option><option value="12.5" >12:30</option><option value="13.0" >13:00</option><option value="13.5" >13:30</option><option value="14.0" >14:00</option><option value="14.5" >14:30</option><option value="15.0" >15:00</option><option value="15.5" >15:30</option><option value="16.0" >16:00</option><option value="16.5" >16:30</option><option value="17.0" >17:00</option><option value="17.5" >17:30</option><option value="18.0" >18:00</option><option value="18.5" >18:30</option><option value="19.0" >19:00</option>
                            </select>
                        </div>
                            <div class="col-sm form-group">
                            <label class="form-label">A :</label>
                            <select name="beast" id="select_to_session" class="form-control custom-select">
                                <option value="8.5"  >08:30</option><option value="9.0"  >09:00</option><option value="9.5"  >09:30</option><option value="10.0" >10:00</option><option value="10.5" >10:30</option><option value="11.0" >11:00</option><option value="11.5" >11:30</option><option value="12.0" >12:00</option><option value="12.5" >12:30</option><option value="13.0" >13:00</option><option value="13.5" >13:30</option><option value="14.0" >14:00</option><option value="14.5" >14:30</option><option value="15.0" >15:00</option><option value="15.5" >15:30</option><option value="16.0" >16:00</option><option value="16.5" >16:30</option><option value="17.0" >17:00</option><option value="17.5" >17:30</option><option value="18.0" >18:00</option><option value="18.5" >18:30</option><option value="19.0" >19:00</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- model footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary add-save-changes-session" >Save changes</button>
            </div>
        </div>
    </div>
</div>







