<!-- Modal -->
<div class="modal" id="modalContext" tabindex="-1" role="dialog" aria-labelledby="Ajouter Context" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Ajouter Context :
                </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> 
            </div>
            <!-- model body -->
            <div class="modal-body">
                <div class="row" >
                    <div class="card">
                            <center><label class="form-label validator-add-context" style="color:red; font-size:17px;" ></label></center>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                        <div class="card-body">
                            <ul id="tree1">
                            </ul>   
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                        <div class="card-body">
                            <ul class="list-contexts-added" > 
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="card">
                        <label class="form-label">Date :</label>
                        <input class="form-control" type="date" value="2020-01-01" id="date_input_context">
                    </div>
                </div>
            </div>
            <!-- model footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary add-save-changes-context-session" >Save changes</button>
            </div>
        </div>
    </div>
</div>





